* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* total width and height = width + padding + border or height + padding + border */
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  /* height = viewport's height, eg: viewport = 900px, then height = 900px */
  padding: 2rem;
  /* rem for scaable typography, if root(html) is 16px, 1 rem = 16px */
}

nav {
  display: flex;
  /* display in 1 dimesion, row or column */
  /* main axis goes horizontal, cross axis goes verical based on 
  flex-direction (default value is row), if flex-direction:column, 
  main axis goes vertical, cross axis goes horizontal */
  justify-content: space-between;
  /* to style main axis, default value is flex-start, in this case
  ite is positioned ↔ with space between them ( remember in this case
  main axis is horizontal , keyword: positioned*/
  align-items: center;
  /* to style cross axis, default value is strech, in this case
  item is grew in the ↕ middle based on its height (remember in this case
  cross axis is vertical , keyword: grew */
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
  /* transition all for animate all elements inside of it */
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  /* look same as static, but we can use top bottom left right in here, and overflow
  other element (thats not use relative also) */
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  /* Grid is two dimensions */
  grid-template-columns: 4fr 3fr;
  /* flexible based on its item of it, first take the 4/7 of horizontal space, 
  next 3/7 of horizontal space, like flex-grow*/
  grid-template-rows: auto 25rem repeat(2, 15rem) auto;
  /* first row will adjust its height based on its content, next three will 15rem high
  last row will adjust ists height based on its content */

  gap: 2rem;
  /* gap between column and row */

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  /* This value indicates that the grid item should start at 
  the first vertical grid line and span across two columns. */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  /* balance from second row, take 3 rows */
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__description {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  padding: 0.1rem 1rem;
}

.movements__mark {
  border: none;
  background-color: #39b385;
  color: #ffffff;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 10px;
}

.movements__type--piutang {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--hutang {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  /* from 5th row, ended in 6th */
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  /* 3 elements took 1.5 times the size of the other columns, in other word have same size */
  grid-template-rows: auto auto;
  /* rows size depends on its content */

  gap: 0.4rem 1rem;
}

.transfer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.transfer input,
.transfer button {
  width: 100%;
  box-sizing: border-box;
}

.transfer button {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__input,
.transfer__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus,
.transfer__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 470px;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  overflow-y: auto;
  margin-top: 3rem;
  /* z-index: 1; */
}

ul li {
  padding: 10px;
  cursor: pointer;
}

ul li:hover {
  background-color: #ddd;
}
